body {
  font-family:Arial,Helvetica,sans serif;
  font-size:11pt;
  line-height:20pt;
}

h1 {
  font-size:24pt;
  line-height:26pt;
  font-family:Rubik,Arial,Helvetica,sans serif;
  text-align: left;
  margin: 1.2em 0;
  /* text-align: center; */
  font-weight: normal;
}

h2 {
  font-size:16pt;
  line-height:18pt;
  font-family:Arial,Helvetica,sans serif;
  margin: 1em 0;
}

.container {
  margin:auto;
  width: 80%;
}

header {
  font-size:12pt;
  font-family:Arial,Helvetica,sans serif;
  color:#ccc;
  margin-bottom:2em;
}

#header_image {
  margin: 50px 0 30px 0;
}

footer {
  font-size: smaller;
  width:80%;
  margin: 10em auto 1em auto;
  color: #999;
}

.link {
  margin:1em 0;
}

a {
  text-decoration: underline;
  /* color: #00A1FF; */
  color: #0545FF;
}

a:visited {
  color: #853F75;
}

nav {
  text-align: left;
  font-size:12pt;
}

nav a {
  margin-right: 3em;
  font-weight: bold;
}

.right {
  text-align: right;
}

.list {
  margin: 3em 0;
}

.list-item {
  margin: 1.5em 0;
}

.user {
  /* color: grey; */
  font-weight: bold;
}

.time {
  /* color: black; */
  /* font-weight: bold; */
}

.message {
  /* margin: 1em 0 1em 0; */
}

.moderator {
  color: #C26900;
}

.no-moderator {
  color: #999;
}

.likes {
  color: #02AFE5;
  font-weight: bold;
}

.time {
  color: #004670;
}

.tablebar {
  margin: 1em 0;
  margin-bottom: 3em;
}

.bar {
  background: #41AAD9;
  color: white;
  font-size:120%;
  font-weight:bold;
  padding-left: 0.3em;
  margin-left: 1em;
}

table {
  border-spacing:0;
  border-collapse: collapse;
}

table.registry {
  text-align: left;
  font-weight: normal;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 100%;
  line-height: 16pt;
}

table.registry tr:nth-child(even) {
  background: #F0F0F0;
}

table.no-zebra tr:nth-child(even) {
  background: white;
}

table.registry th {
	border: 1px dotted #999;
	padding: 0.3em 0.3em;
  background: #ddd;
  /* background: #DEF5FA; */
  line-height: 1.5em;
  /* text-align: center; */
}

table.registry td {
  max-width: 500px;
	border: 1px solid #ccc;
	padding: 0.1em 0.3em;
}

table.registry td.index, table.registry th.index {
  background: #555;
  color: white;
  font-weight: bold;
}

table.registry td.description {
  font-size: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #777;
}

table.registry td.wider {
  max-width:800px;
}

table#pictures_set th {
  background: #eee;
}

table#pictures_set th, table#pictures_set td {
  padding: 0.2em 0.7em;
  border: 1px solid #aaa;
}

table#pictures_set td {
  padding: 2em 0.7em;
}

table#pictures_set td:first-of-type {
  text-align: center;
}

.caption {
  width: 600px;
  font-style: italic;
}

.site_logo {
  width: 80px;
  position: relative;
  top:25px;
}

/* SVG */
.b {
  font-weight: bold;
}
