html {
  font-size: 14px;
}

body {
  font-family:'Noto Sans',sans-serif;
  font-size:1.2rem;
  line-height:1.7rem;
  background-color: #CCEBF8;
  background-image: linear-gradient(#D1E1E8, #DFF0F7);
  margin:0;
}

.container {
  width: 100%;
}

header {
  margin:0;
  overflow:hidden;
  background-color: white;
  background-image: linear-gradient(white 75%, #F0F3F8 100%);
  /* background-image: linear-gradient(#DFF0F7 0%, #fff 5%, #fff 80%, #DFF0F7 90%, #D1E1E8 100%); */
  padding: 1rem 2rem;
  text-align: center;
  /* box-shadow: 0.1rem 0.1rem 0.5rem grey; */
}

header img.logo {
  content:url("img/logo_lookdown.png");
  width: 7rem;
}

header div.title {
  display: inline-block;
  vertical-align: middle;
}

h1 {
  font-size:230%;
  font-family:Roboto,'Noto Sans',sans-serif;
  font-weight: bold;
  line-height:2.5rem;
  margin: 1.5rem 0;
  color:#059FDB;
  /* letter-spacing:0.1rem; */
  /* text-shadow: 1px 1px 1px #7448B2; */
}

h1.subheader {
  font-size:130%;
  font-family: 'Noto Sans',sans-serif;
  font-weight: normal;
  margin-top: -1rem;
  color: #999;
  margin-bottom: 1rem;
  /* letter-spacing: normal; */
}

h2 {
  font-size:150%;
  color:#4c75a3;
}

h3 {
  font-size:170%;
  font-family:Roboto, sans-serif;
  margin: 0.7rem 0 1.5rem 0;
  font-weight:normal;
  line-height:2.6rem;
}

a {
  text-decoration: none;
  color: #025A9D;
}

a:visited {
  color: #9E6BBB;
}

a.phone {
  font-size: 160%;
  background: url("img/phone_bg.png") left center no-repeat #ddd;
  padding: 0.6rem 1.2rem;
  padding-left: 2.8rem;
  padding-right: 1.0rem;
  display: inline-block;
  border-radius: 1rem;
  color: #07406C;
  letter-spacing: 0.02rem;
  line-height: 2rem;
}

a.phone:hover {
  text-decoration:none;
  background: url("img/phone_bg.png") left center no-repeat #ccc;
}

a.phone:visited {
  color: #A5237A;
  background: url("img/phone_bg_visited.png") left center no-repeat #ddd;
}

a.url {
  background-image: none;
  padding-left: 1rem;
}

a.url:hover {
  background-image: none;
  background: #ccc;
}

a.url:visited {
  background-image: none;
}

/* nav {
  float:left;
  margin:0.7rem 0;
  vertical-align:middle;
}

nav a {
  display: block;
  margin: 0.5rem 3rem 0.5rem 0rem;
  font-weight:bold;
  color: #4c75a3;
  font-size:150%;
  text-decoration:underline;
}

nav a:hover {
  color:#D9D400;
} */

footer {
  padding: 3rem;
  text-align: center;
  font-size: smaller;
  line-height: 1.4rem;
  background-image: linear-gradient(#DFF0F7 0%, #fff 30%, #fff 70%, #DFF0F7 100%);
}

footer div.lines div {
  margin: 0.5rem 0rem;
}

.card {
  background-color: #F5F7F9;
  background-image: linear-gradient(white 75%, #F0F3F8 100%);
  box-shadow: 0.1rem 0.1rem 0.5rem grey;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  margin: 0.8rem 0.5rem;
}

.advice {
  background-color: #365563;
  background-image: linear-gradient(#365563 75%, #17303B 100%);
  box-shadow: 0.1rem 0.1rem 0.5rem grey;
  color: white;
  font-family: 'Noto Sans',sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.6rem 0.5rem;
  line-height: 1.5rem;
}

.card div {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* for several parameters in the attribute's value */
.card ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card ul li {
  margin: 0.7rem 0;
}

.card div {
  margin: 0.8rem 0;
}


/* LARGER SCREENS */

@media (min-width: 800px) {
  body {
    font-size:1rem;
  }

  header {
    text-align: left;
    line-height: 3rem;
  }

  header img.logo {
    width: 7rem;
    content:url("img/logo_lookright.png");
    margin-right:1rem;
    display: inline-block;
    vertical-align: middle;
  }

  header div.title {
    display: inline-block;
    vertical-align: middle;
  }

  h1 {
    text-align: left;
    font-size:300%;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-bottom: 1.2rem;
  }

  h1.subheader {
    text-align: left;
    margin-left: 1rem;
    font-size: 180%;
  }

  .container {
    margin:auto;
    width: 60%;
  }

  nav {
    margin:2rem 0;
  }

  nav a {
    float: left;
    text-align:center;
    margin: 0;
    margin-right: 3rem;
  }

  .card, .inactive_card {
    padding: 0.7rem 1rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 1700px) {
  .container {
    margin:auto;
    width: 50%;
  }

  nav {
    margin: 1rem 0;
  }
}
